body {
	height: 100vh;
	margin: 0;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#homepage {
	height: 100%;
	width: 100%;
	background: rgb(44, 44, 44);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#calculator {
	height: 85%;
	width: 35%;
	background: radial-gradient(rgb(32, 33, 36) 10%, rgb(15, 15, 15));
	border: 5px solid yellowgreen;
	box-shadow: 5px 5px black, -5px 5px black, 5px -5px black, -5px -5px black;
	border-radius: 5%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#screen {
	margin-top: 10%;
	height: 17%;
	width: 80%;
	background-color: rgb(0, 157, 0);
	border: 5px solid black;
	color: black;
	border-radius: 10%;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	text-align: right;
	flex: none;
}

#screen-top {
	font-size: 40px;
	margin-right: 3%;
	width: 97%;
	overflow: hidden;
	white-space: nowrap;
	height: 34%;
}

#screen-bottom {
	font-size: 70px;
	margin-right: 3%;
	width: 97%;
	overflow: hidden;
	white-space: nowrap;
}

#buttons {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

#buttons button {
	border-radius: 10%;
}

#top-buttons {
	margin-top: 3%;
	display: flex;
	height: 10%;
	width: 81%;
	gap: 3%;
}

#basic-operations > #equal,
#top-buttons > button {
	color: white;
	-webkit-text-stroke: 2px black;
	background-color: yellow;
	border: 5px solid black;
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 1;
}

#top-buttons > button {
	border-radius: 0;
	font-size: 70px;
}

#middle-buttons {
	display: flex;
	height: 13%;
	width: 81%;
	gap: 3%;
}

#middle-buttons > button,
#basic-operations > button,
#digits > #sign,
#digits > #dot {
	flex: 1;
	color: yellowgreen;
	background-color: rgb(44, 44, 44);
	border: 5px solid black;
	-webkit-text-stroke: 2px black;
	font-size: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#middle-buttons sup {
	font-size: 20px;
	margin: -2px;
}

#middle-buttons sup,
#radical-sign {
	-webkit-text-stroke: 1px black;
}

#basic-operations > button {
	flex: 1 1 0;
	padding: 0%;
}

/* #middle-buttons > #power,
#middle-buttons > #radical {
	-webkit-text-stroke: 1px black;
} */

#lower-buttons {
	height: 60%;
	width: 80%;
	display: flex;
	margin-bottom: 5%;
	gap: 5%;
}

#digits {
	flex: 5;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: space-between;
	row-gap: 10px;
	gap: 10px;
}

.digit {
	flex: auto;
	box-sizing: border-box;
	background-color: yellowgreen;
	border: 5px solid black;
	height: 23%;
	width: 30%;
	font-size: 70px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#digits > #sign,
#digits > #dot {
	flex: auto;
	height: 23%;
	width: 30%;
	font-size: 70px;
}

#basic-operations {
	flex: 1.4;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 10px;
}

#top-buttons > button:active,
#basic-operations > #equal:active {
	color: white;
	background-color: yellowgreen;
}

#digits > #sign:active,
#digits > #dot:active,
#basic-operations > button:active,
#middle-buttons > button:active {
	color: yellow;
	background-color: rgb(26, 26, 26);
}

#digits > button:active {
	color: white;
	-webkit-text-stroke: 2px black;
	background-color: yellow;
}
